@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rationale&display=swap");

.body {
  color: #13152e;
  margin: 0;
  padding: 5% auto;
  text-align: center;
  align-items: center;
  font-family: "Special Elite", cursive;
  height: 100vh;
}

.background {
  height: 100vh;
}

.container {
  min-width: 250px;
  min-height: 250px;
}

.first-line {
  position: absolute;
  bottom: 82%;
  left: 26%;
  font-size: 4.5vh;
  font-style: oblique;
}

.second-line {
  position: absolute;
  bottom: 72vh;
  left: 30vw;
  font-size: 5vh;
  letter-spacing: -0.05em;
}

.third-line {
  position: absolute;
  bottom: 63.9vh;
  left: 25vw;
  font-weight: bolder;
  font-size: 3.6vh;
  letter-spacing: 0.2em;
}

.button,
.button:focus {
  font-family: "Rationale", sans-serif;
  position: absolute;
  position: absolute;
  bottom: 16vh;
  right: 26vw;
  height: 16vh;
  border: none;
  background-color: #fecc16;
  outline: none;
  font-size: 1.7vw;
  transition: ease 0.5s;
  border-radius: 100%;
}

.button:hover,
.input:hover {
  color: #ec671a;
}

.input {
  font-family: "Rationale", sans-serif;
  position: absolute;
  position: absolute;
  bottom: 14vh;
  left: 24vw;
  height: 14vh;
  width: 16vw;
  border: none;
  background-color: #fecc16;
  font-size: 2vw;
  transition: ease 0.2s;
  border-radius: 100%;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
