@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rationale&display=swap");

.body {
  color: black;
  margin: 0;
  padding: 5% auto;
  background-color: rgb(3, 3, 5);
  text-align: center;
  align-items: center;
  font-family: "Special Elite", cursive;
  height: 100vh;
}

.background {
  margin-top: 1vh;
}

.container {
  margin-left: 4%;
  height: 100vh;
}

.first-line {
  position: absolute;
  bottom: 82%;
  left: 26%;
  font-size: 1.6em;
  font-style: oblique;
}

.second-line {
  position: absolute;
  bottom: 72%;
  left: 30%;
  font-size: 2em;
  letter-spacing: -0.05em;
}

.third-line {
  position: absolute;
  bottom: 64.5%;
  left: 25%;
  font-weight: bolder;
  font-size: 1.3em;
  letter-spacing: 0.2em;
}

.button,
.button:focus {
  font-family: "Rationale", sans-serif;
  position: absolute;
  position: absolute;
  bottom: 18.5%;
  left: 65%;
  height: 16%;
  border: none;
  background-color: rgb(230, 17, 81);
  outline: none;
  font-size: 1.5em;
  transition: ease 0.5s;
}

.button:hover,
.input:hover {
  color: white;
}

.input {
  font-family: "Rationale", sans-serif;
  position: absolute;
  position: absolute;
  bottom: 16%;
  left: 26%;
  height: 14%;
  width: 16%;
  border: none;
  background-color: rgb(230, 17, 81);
  font-size: 1.8em;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
